@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}


.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.667)),
        url(https://images.pexels.com/photos/1350461/pexels-photo-1350461.jpeg?_gl=1*1nquzrj*_ga*MTU1MTYyMjc1NC4xNzUyMDQ1MzM5*_ga_8JE65Q40S6*czE3NTQzODEyOTYkbzIwJGcxJHQxNzU0MzgxMzM2JGoyMCRsMCRoMA..) no-repeat center center;
    background-size: cover;
}